@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:auto;
    margin-top: 20px;
    font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
    
}
table,th,td,tr{
    
    border: 1px solid rgb(240, 225, 225);
    border-collapse: collapse;
    width: 650px;
}
img{
    height: 100px;
    width: 100px;
}
.mongoClass{
    background-color: green;
    color: white;
    text-align: center;
    height: 25px;
  
}

.mysqlClass{
    background-color: orange;
    color: white;
    text-align: center;
  
}
.general{
    height: 75px;
    text-align: center;
    font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
    /* padding-left: 10px; */
}